In [19]:
import pandas as pd
df = pandas.read_csv('csv/train_ratings.csv')
print(df)

          userId  movieId  rating
0              1      7.0     3.5
1              1     50.0     3.0
2              1    151.0     4.5
3              1    160.0     3.5
4              1    173.0     3.0
5              1    260.0     4.5
6              1    318.0     4.5
7              1    494.0     3.0
8              1    527.0     5.0
9              1    589.0     4.5
10             1    832.0     3.5
11             1    858.0     3.5
12             1    912.0     5.0
13             1    920.0     2.5
14             1    923.0     5.0
15             1   1196.0     4.5
16             1   1210.0     5.0
17             1   1304.0     4.0
18             2      1.0     4.0
19             2     50.0     4.5
20             2    223.0     3.5
21             2    260.0     4.5
22             2    296.0     4.5
23             2    377.0     4.0
24             2    457.0     4.5
25             2    480.0     5.0
26             2    538.0     3.5
27             2    548.0     3.5
28             2    589.0     5.0
29             2    608.0     4.0
...          ...      ...     ...
11946546  138492    150.0     3.0
11946547  138492    158.0     3.0
11946548  138492    161.0     3.0
11946549  138492    165.0     3.0
11946550  138492    185.0     3.0
11946551  138492    204.0     3.0
11946552  138492    208.0     2.0
11946553  138492    235.0     1.0
11946554  138492    236.0     3.0
11946555  138492    237.0     4.0
11946556  138492    252.0     3.0
11946557  138492    256.0     3.0
11946558  138492    276.0     3.0
11946559  138492    277.0     3.0
11946560  138492    292.0     4.0
11946561  138492    300.0     4.0
11946562  138492    316.0     2.0
11946563  138493      2.0     4.0
11946564  138493    161.0     4.0
11946565  138493    165.0     3.0
11946566  138493    292.0     4.0
11946567  138493    329.0     3.0
11946568  138493    350.0     4.0
11946569  138493    364.0     4.0
11946570  138493    367.0     2.0
11946571  138493    368.0     3.0
11946572  138493    380.0     3.0
11946573  138493    454.0     4.0
11946574  138493    500.0     4.0
11946575  138493    508.0     4.0

[11946576 rows x 3 columns]

In [8]:
users_avg = df.groupby(['userId'])['rating'].mean()

In [9]:
movies_avg = df.groupby(['movieId'])['rating'].mean()

In [28]:
movies_avg[89896]

3.921239561324077

In [ ]:
list(map(lambda x: x[0], df.iterrows()))

In [33]:
df = pandas.DataFrame({'name': ['Raphael', 'Donatello'],
'mask': ['red', 'purple'],
'weapon': ['sai', 'bo staff']})

In [35]:
df2 = df

In [37]:
df.append(df2, ignore_index=True)

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff
2    Raphael     red       sai
3  Donatello  purple  bo staff

In [42]:
df1 = pandas.DataFrame({'id': 5, 'rating': 1.2}, index=[0])

In [43]:
df2 = pandas.DataFrame({'id': 6, 'rating': 1.3}, index=[0])

In [45]:
df1.append(df2, ignore_index=True)

   id  rating
0   5     1.2
1   6     1.3

In [46]:
df0 = pandas.DataFrame(columns=['id', 'rating'])

In [56]:
df0 = df0.append(df1, ignore_index=True)

In [57]:
df0.shape

(1, 2)

In [58]:
import numpy as np

In [64]:
np.zeros((2, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])